<script>
	import '../styles/app.css';
    import '../styles/utils.css';
    import '../styles/toasts.css'

    import { SvelteToast } from '@zerodevx/svelte-toast'
    const options = {
    // something
        duration: 3000
    }
</script>

<slot />
<SvelteToast {options} />
