<script>
	import { Quickies } from '$lib/utils.ts';
	import feather from 'feather-icons';
</script>

<div class="flex justify-between gap-x-3 mx-5 mt-1">
	<div>
		<h3 class="mt-1">
			<span class="text-gray-600">Yuzawa</span>
		</h3>
	</div>
	<div class="flex gap-x-3 justify-end">
		<button
			class="flex justify-between gap-x-1.5"
			on:click={async () => {
				await Quickies.logout();
			}}
		>
			<span>Logout</span>
			{@html feather.icons['log-out'].toSvg()}
		</button>
	</div>
</div>

<style>
	button {
		@apply px-3 py-2 bg-gray-300 rounded-lg hover:scale-110 transition-all hover:shadow-lg font-semibold;
	}
</style>
