<script>
	import { Quickies } from '$lib/utils.ts';
	import feather from 'feather-icons';
	import { createAuthClient } from '$lib/auth.ts';
	import { logInUser } from '$lib/auth.js';
	import { onMount } from 'svelte';
	import UserMenu from './UserMenu.svelte';
	import { PUBLIC_LOCAL_URL } from '$env/static/public';

	let user = null;
	let isAuthenticated = false;
	let auth0 = null;

	async function init() {
		auth0 = await createAuthClient();
	}

	onMount(async () => {
		await init();
	});

	async function loginWithPopup() {
		await auth0.loginWithRedirect({
			authorizationParams: {
				redirect_uri: PUBLIC_LOCAL_URL + '/callback'
			}
		});
	}
</script>

<div class="flex justify-end gap-x-3">
		<button
			class="flex justify-between gap-x-1.5"
			on:click={async () => {
				await loginWithPopup();
			}}
		>
			<span>Login</span>
			{@html feather.icons['log-in'].toSvg()}
		</button>
</div>

<style lang="">
	button {
		@apply px-3 py-2 bg-gray-300 rounded-lg hover:scale-105 transition-transform hover:shadow-lg font-semibold;
	}
</style>
