<script>
	import { Quickies } from '$lib/utils.ts';
	export let hideNav = false;
</script>

<div
	class="bg-white max-w-screen-md mx-auto py-6 px-10 rounded-t-xl h-full mt-5 shadow-lg overflow-auto"
>
	<div class="flex justify-end border-b mb-6 border-dotted gap-x-4 {hideNav ? "hidden" : ""} topTeaserNav">
		<button
			on:click={() => {
				Quickies.href('/model-zoo');
			}}
		>
			Model Zoo
		</button>
		<button
			on:click={() => {
				Quickies.href('/dashboard/profile');
			}}
		>
			Account
		</button>
	</div>
	<slot />
	<br /><br /><br /><br />
</div>

<style>
	.topTeaserNav button {
		@apply opacity-60 hover:opacity-100 hover:opacity-100 hover:text-secondary transition-all
	}
</style>
