<script>
	import { afterUpdate } from 'svelte';

	export let user;
	console.log(user);

	afterUpdate(() => {
		console.log('the component just updated');
	});
</script>

<div>
	hello
	{#if $user}
		<image src={$user.picture} />
	{:else}
		Login
	{/if}
</div>
