<script>
	import SetUserProfile from '$lib/components/SetUserProfile.svelte';

	export let data;
</script>

<svelte:head>
	<title>Login</title>
</svelte:head>

<div
	class="mx-auto max-w-screen-md text-center flex items-center justify-center h-96 mt-8"
>
	<div>
		<h1>Set up your profile.</h1>
		<p class="mt-3 italic">
			Welcome to Yuzawa! Before you get started, let's have you complete your personal profile.
		</p>
		<div class="mt-5 py-4 px-6 bg-white rounded-lg shadow-lg text-left w-full min-w-full">
			<SetUserProfile userToken={data.userToken} redirectURL={'/dashboard'} />
		</div>
	</div>
</div>
