<script>
	import { Quickies, validateInput, DB } from '$lib/utils.ts';

	import DashTopNav from '$lib/components/DashTopNav.svelte';
	import ParentPopPage from '$lib/components/ParentPopPage.svelte';
	import Modal from '$lib/components/Modal.svelte';
	import feather from 'feather-icons';
	import dayjs from 'dayjs';

	export let data;
	let { environments, configs, userInformation } = data;

	console.log(data);

	let showModal = false;

	let currentPage = 'environments';
	const changeCurrentPage = (page) => {
		currentPage = page;
	};

	const handleToggleModal = () => {
		showModal = !showModal;
	};

	// create using the different form modals
	const createNewEnvironment = async (e) => {
		let formData = new FormData(e.target);
		let expName = formData.get('name'),
			expDesc = formData.get('description');

		if (expName !== ' ' && expDesc !== ' ') {
			Quickies.toast.warning('Creating "' + expName + '"...');

			let checkExperimentExists = await DB.findOneItem('environments', {
				name: expName,
				owner: userInformation.id
			});

			console.log(checkExperimentExists);

			if (checkExperimentExists.status) {
				Quickies.toast.error('An experiment with that name already exists in your account!');
				return;
			} else {
				let insertedExperiment = {};
				try {
					insertedExperiment = await DB.insertItem('environments', {
						name: expName,
						description: expDesc,
						owner: [userInformation.id],
						createdAt: new Date()
					});
				} catch {
					Quickies.toast.error(
						'An error occurred while creating the experiment. Try again in a second.'
					);
					return;
				}

				Quickies.toast.success('Experiment created successfully! Redirecting you now...');

				setTimeout(() => {
					Quickies.href('/dashboard/experiments/' + insertedExperiment.data.insertedId);
				}, 1500);
			}
		}
	};

	const createNewConfig = async (e) => {
		console.log("test");
		let formData = new FormData(e.target);
		let configName = formData.get('name'),
			configDesc = formData.get('description');

		if (configName !== ' ' && configDesc !== ' ') {
			Quickies.toast.warning('Creating "' + configName + '"...');

			let checkConfigExists = await DB.findOneItem('configs', {
				name: configName,
				owner: userInformation.id
			});

			console.log(checkConfigExists);

			if (checkConfigExists.status) {
				Quickies.toast.error('A config with that name already exists in your account!');
				return;
			} else {
				let insertedConfig = {};
				try {
					insertedConfig = await DB.insertItem('configs', {
						name: configName,
						description: configDesc,
						owner: [userInformation.id],
						createdAt: new Date()
					});
				} catch {
					Quickies.toast.error(
						'An error occurred while creating the config. Try again in a second.'
					);
					return;
				}

				Quickies.toast.success('Config created successfully! Redirecting you now...');

				setTimeout(() => {
					Quickies.href('/dashboard/config/' + insertedConfig.data.insertedId);
				}, 1500);
			}
		}
	};
</script>

<svelte:head>
	<title>Your Dashboard</title>
</svelte:head>

<div class="overflow-hidden h-screen">
	<div class="h-full overflow-hidden mt-8">
		<DashTopNav />
		<ParentPopPage>
			<h2>Dashboard</h2>
			<div class="grid grid-cols-2 text-center mt-2 gap-x-4 mb-3">
				<button
					class="border-2 py-2 hover:scale-105 rounded-lg transition-all {currentPage ==
					'environments'
						? 'bg-gray-100 border-primary'
						: 'hover:border-secondary'}"
					on:click={() => {
						changeCurrentPage('environments');
					}}
				>
					Environments
				</button>
				<button
					class="border-2 py-2 rounded-lg hover:scale-105 transition-all {currentPage == 'configs'
						? 'bg-gray-100 border-primary'
						: 'hover:border-secondary'}"
					on:click={() => {
						changeCurrentPage('configs');
					}}
				>
					Configs
				</button>
			</div>
			{#if currentPage == 'environments'}
				<div class="">
					<p class="italic opacity-70">
						Your Environments are high-level projects that contain multiple experiments.
					</p>
					<div class="flex justify-end">
						<button
							class="flex justify-center mt-5 px-3 py-2 bg-gray-300 rounded-lg hover:scale-105 transition-all hover:shadow-lg font-semibold"
							on:click={handleToggleModal}
						>
							New Environment&nbsp;&nbsp;{@html feather.icons['plus'].toSvg()}
						</button>
					</div>
					{#if environments?.length == 0}
						<p class="text-center text-lg my-16">
							You have no Environments yet. Create one by clicking the <b>New Environment</b> button.
						</p>
					{:else}
						<hr class="mt-4" />
						<div class="mt-6">
							{#each environments as environment}
								<!-- svelte-ignore a11y-click-events-have-key-events -->
								<div
									class="bg-gradient-to-br from-blue-100 to-blue-200 px-5 py-3 bg-gray-300 rounded hover:scale-105 transition-all mb-3 shadow-lg"
									on:click={() => {
										Quickies.href(`/dashboard/experiments/${environment._id}`);
									}}
								>
									<h3>{environment.name}</h3>
									<div class="flex justify-between gap-x-6">
										<p><span class="opacity-80">Description: </span>{environment.description}</p>
										<p class="opacity-80">
											{dayjs(environment.createdAt).format('[made] MM/DD/YY [at] h:mm A')}
										</p>
									</div>
								</div>
							{/each}
						</div>
					{/if}
				</div>
			{:else if currentPage == 'configs'}
				<div class="">
					<p class="italic opacity-70">
						Your Configs are designs for hardware that can be used within Experiments.
					</p>
					<div class="flex justify-end">
						<button
							class="flex justify-center mt-5 px-3 py-2 bg-gray-300 rounded-lg hover:scale-105 transition-all hover:shadow-lg font-semibold"
							on:click={handleToggleModal}
						>
							New Config&nbsp;&nbsp;{@html feather.icons['plus'].toSvg()}
						</button>
					</div>
					{#if configs?.length == 0}
						<p class="text-center text-lg my-16">
							You have no Configs yet. Create one by clicking the <b>New Config</b> button.
						</p>
					{:else}
						<hr class="mt-4" />
						<div class="mt-6">
							{#each configs as config}
								<!-- svelte-ignore a11y-click-events-have-key-events -->
								<div
									class="bg-gradient-to-br from-orange-100 to-orange-200 px-5 py-3 bg-gray-300 rounded hover:scale-105 transition-all mb-3 shadow-lg"
									on:click={() => {
										Quickies.href(`/dashboard/config/${config._id}`);
									}}
								>
									<h3>{config.name}</h3>
									<div class="flex justify-between gap-x-6">
										<p><span class="opacity-80">Description: </span>{config.description}</p>
										<p class="opacity-80">
											{dayjs(config.createdAt).format('[made] MM/DD/YY [at] h:mm A')}
										</p>
									</div>
								</div>
							{/each}
						</div>
					{/if}
				</div>
			{/if}
		</ParentPopPage>
	</div>
</div>

<Modal
	title="New {currentPage == 'environments' ? 'Environment' : 'Config'}"
	open={showModal}
	on:close={() => handleToggleModal()}
>
	<svelte:fragment slot="body">
		{#if currentPage == 'environments'}
			<form on:submit|preventDefault={createNewEnvironment}>
				<label class="text-md font-semibold" for="name">Name</label>
				<input
					class="border-2 rounded-lg p-2 mb-3"
					type="text"
					placeholder="my-cool-environment"
					required
					name="name"
					id="name"
					on:keyup={(e) => {
						validateInput(e, { lower_case: true, no_space: true });
					}}
				/>
				<label class="text-md font-semibold" for="description">Description</label>
				<p class="italic text-sm">max. 100 characters</p>
				<input
					class="border-2 rounded-lg p-2"
					type="text"
					placeholder="What's this environment about?"
					required
					name="description"
					id="description"
					on:keyup={(e) => {
						validateInput(e, { length: 100 });
					}}
				/>
				<div class="flex justify-end">
					<button
						class="flex justify-center mt-5 px-3 py-2 bg-gray-300 rounded-lg hover:scale-105 transition-all hover:shadow-lg font-semibold"
						type="submit"
					>
						Create
					</button>
				</div>
			</form>
		{:else if currentPage == 'configs'}
			<!-- something -->
			<form on:submit|preventDefault={createNewConfig}>
				<label class="text-md font-semibold" for="name">Name</label>
				<input
					class="border-2 rounded-lg p-2 mb-3"
					type="text"
					placeholder="my-awesome-config"
					required
					name="name"
					id="name"
					on:keyup={(e) => {
						validateInput(e, { lower_case: true, no_space: true });
					}}
				/>
				<label class="text-md font-semibold" for="description">Description</label>
				<p class="italic text-sm">max. 100 characters</p>
				<input
					class="border-2 rounded-lg p-2"
					type="text"
					placeholder="What's this config for?"
					required
					name="description"
					id="description"
					on:keyup={(e) => {
						validateInput(e, { length: 100 });
					}}
				/>
				<div class="flex justify-end">
					<button
						class="flex justify-center mt-5 px-3 py-2 bg-gray-300 rounded-lg hover:scale-105 transition-all hover:shadow-lg font-semibold"
						type="submit"
					>
						Create
					</button>
				</div>
			</form>
		{/if}
	</svelte:fragment>
</Modal>
