/* initialize important and most-used DOM styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.top-bar-flair {
    @apply w-full fixed top-0;
}

.top-bar-flair-color {
    @apply bg-primary h-3 w-full;
}

.top-bar-flair-transparent{
    @apply bg-gray-100 h-4 w-full;
}

.main-content {
    @apply px-10 min-h-screen;
}

body{
    @apply bg-gray-100 text-gray-700 text-gray-700 min-h-screen h-screen;
    font-family: 'Inter', sans-serif;
}

h1{
    @apply text-4xl font-bold;
}

h2{
    @apply text-3xl font-bold;
}

h3{
    @apply text-2xl font-semibold;
}

input {
    @apply border-2 border-gray-200 focus:ring-0 block mt-1 w-full py-1.5 px-2 rounded;
}

textarea {
    @apply border-2 border-gray-200 focus:ring-0 block mt-1 w-full py-1.5 px-2 rounded;
}

select {
    @apply border-2 border-gray-200 focus:ring-0 rounded block mt-1 w-full py-1.5 px-2 bg-white;
}

label {
    @apply block font-medium text-base text-gray-700 ml-0.5;
}